@import url('https://fonts.googleapis.com/css2?family= Inter:wght@500;600;700 & display =swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'inter', sans-serif;
}
:root{
    --navbar: #000;
    --bodycolor: #fff;
    --colorazul: #00caf8;

}
body{
    background-color: var(--bodycolor);
}

section,footer {
    padding: 54px 0;
    background-color: transparent;
}

h3{
    font-size: 50px;
}

p{
    color: #000;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 5%;
}

.bck{
    background-image: url('/imag/fundowbesite.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul a{
    color: var(--bodycolor);
    margin: 0 25px;
    text-transform: uppercase;
    font-size: 14px;
    display: block;
}

nav a{
color: var(--bodycolor);

}

nav ul a:not(.btn)::after{
   content: " "; 
   background-color: red;
   height: 3px;
   width: 0%;
   display: block;
   transition: 0.3s;
   margin: 0 auto;
}

nav ul a:hover::after{
   width: 100%; 
}

nav .menu-icon{
    cursor: pointer;
    font: 25px;
    color: var(--bodycolor);
    display: none;
}

nav .close-icon{
    display: none;
    font-size: 30px;
    color: var(--bodycolor);
}


/* botao contato */

.btn{
    background-color: #00caf8;
    color: var(--bodycolor);
    padding: 15px 20px;
    cursor: pointer;
    border-radius: 10px;
    display: inline-block;
    transition: 0.1s ;
}

.btn:hover{
    background-color: #3580db;
}

.btn.animate-btn{
    animation: animate-outline 1s ease-out infinite;
}

@keyframes animate-outline{
    from{
      outline: 0px solid #3580db;
    }
    to{
      outline: 15px solid #3580db;
    }
}


.banner{
    display: block;
    justify-content: center;
}

.banner .baner{
  margin: 150px;
  text-align: center;
  padding: 0 90px;
}

.banner .baner h1{
 font-size: 96px;
 color: var(--bodycolor);
}

.banner .baner p{
    font-size: 20px;
    color: var(--bodycolor);
    font-weight: lighter;
    margin: 18px 0;

}

/* faca mais */

.faca-mais .container{
    display: flex;
    align-items: center;
}
.faca-mais-text{
    width: 50%;
    padding: 0 40px;
}

.faca-mais .faca-mais-img{
  width: 50%;
}
.faca-mais .faca-mais-text h3{
    font-size: 56px ;
}
.faca-mais .faca-mais-text p{
    margin: 5px 0 10px 0;
}

.faca-mais .faca-mais-img img{
    width: 100%;
  }


/* nosso clientes */

.clientes h3,
.clientes p{
text-align: center;
}.clientes .container div{
    display: flex;
    align-items: center;
    justify-content: space-around;
}



.footer{
    background-color: var(--colorazul);
    text-align: center;
}

.footer i{
    color: var(--bodycolor);
    font-size: 19px;
    background-color: var(--bodycolor);
    padding: 20px;
    margin: 19px;
    border-radius: 10px;
}

.footer a img{
    width: 23px;
}

.menu-icon{
    color: var(--bodycolor);
    z-index: 4;
}





/* pagina sobre */

.sobre .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sobre .sobre-texto{
    width: 50%;
    padding-right: 40px;
}

.sobre .sobre-texto p {
    margin: 18px;
    color: var(--navbar);
}

.sobre .sobre-image{
    width: 50%;
}

.sobre .sobre-image img{
    width: 100%;
    border-radius: 10px;
}

/* SERVICOS */

.servicos h3{
    text-align: center;
}

.servicos .container > p{
     text-align: center;
}

.servicos .rows-cards {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
}

.servicos .row-card-item{
    background-color: var(--colorazul);
    width: 350px;
    padding: 20px;
    border-radius: 14px;
    margin: 20px;
    transition: 0.3s;
}

.servicos .row-card-item:hover{
    background-color: #3580db;
}

.servicos .row-card-item:hover p{
    color: var(--bodycolor);
}

.servicos .row-card-item img {
    background-color: var(--colorazul);
    border-radius: 14px;
    width: 70px;
    padding: 9px;
}

.servicos .row-card-item p.nome-servico{
    margin: 5px;
    transition: 0.3s;
}

.servicos .row-card-item p.descricao{
    transition: 0.3s;
}



/* DADOS */

.dados{background: var(--bodycolor); 
}

.dados .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.dados .dados-item{
    text-align: center;
    margin: 15px;
    color: var(--navbar);
}

.dados .dados-item img{
    background-color: var(--colorazul);
    border-radius: 14px;
    padding: 10px;
    margin-bottom: 15px;
    width: 80px;
}

.dados .dados-item p{
    font-size: 18px;
}

.dados .dados-item p strong{
    font-size: 28px;
}

.dados .dados-item













/* RESPONSIVIDADE */

@media (max-width: 830px){
   /* menu modile */
   .ul{
    position: fixed;
    top: 0;
    left: 0;
    background: var(--colorazul);
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    clip-path: circle(0% at 100% 0);
     transition: 0.7s;
   }

   .ul.open{
    clip-path: circle(141.3% at 100% 0);

   }
   .ul a {
    margin: 10px 0;
    font-size: 16px;

   }
   nav .menu-icon{
    display: block;
   }
   nav .close-icon{
    display: block;
    position: absolute;
    top: 46px;
    height: 28px;
   }
}