@import url('https://fonts.googleapis.com/css2?family= Inter:wght@500;600;700 & display =swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'inter', sans-serif;
}
:root{
    --azul: #0280af;
    --black: #000;
    --white: #fff;
    --azulF: #0374a5;
    --eminencia: #7a2e95;
    --Prico: #051924;

}


   
body{
    background-color: var(--bodycolor);
}

section,footer {
    padding: 54px 0;
    background-color: transparent;
}

h3{
    font-size: 50px;
}

p{
    color:var(--white)}

.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 5%;
}

.bck{
    background-image: url('/imag/fundoprincipal.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul a{
    color: var(--white);
    margin: 0 25px;
    text-transform: uppercase;
    font-size: 14px;
    display: block;
}

nav a{
color: var(--white);

}

nav ul a:not(.btn)::after{
   content: ''; 
   background-color: var(--eminencia);
   height: 3px;
   width: 0%;
   display: block;
   transition: 0.3s;
   margin: 0 auto;
}

nav ul a:hover::after{
   width: 100%; 
}

nav .menu-icon{
    cursor: pointer;
    font: 25px;
    color: var(--bodycolor);
    display: none;
}

nav .close-icon{
    display: none;
    font-size: 30px;
    color: var(--bodycolor);
}


/* botao contato */

.btn{
    background-color: var(--white);
    color: var(--black);
    padding: 15px 20px;
    cursor: pointer;
    border-radius: 10px;
    display: inline-block;
    transition: 0.1s ;
}


.btn:hover{
    background-color: var(--azul);
}

.text-principal{
    color: var(--white);
}

.btn.animate-btn{
    animation: animate-outline 1s ease-out infinite;
}

@keyframes animate-outline{
    from{
      outline: 0px solid var(--white);
    }
    to{
      outline: 15px solid #3580db;
    }
}


.banner{
    display: block;
    justify-content: center;
}

.banner .baner{
  margin: 150px;
  text-align: center;
  padding: 0 90px;
}

.banner .baner h1{
 font-size: 96px;
 color: var(--white);
}

.banner .baner p{
    font-size: 20px;
    color: var(--bodycolor);
    font-weight: lighter;
    margin: 18px 0;

}

/* faca mais */

.faca-mais .container{
    display: flex;
    align-items: center;
}
.faca-mais-text{
    width: 50%;
    padding: 0 40px;
}

.faca-mais .faca-mais-img{
  width: 50%;
}
.faca-mais .faca-mais-text h3{
    font-size: 56px ;
}
.faca-mais .faca-mais-text p{
    margin: 5px 0 10px 0;
}

.faca-mais .faca-mais-img img{
    width: 100%;
  }


/* nosso clientes */

.clientes h3,
.clientes p{
text-align: center;
}

.clientes .container div{
    display: flex;
    align-items: center;
    justify-content: space-around;
}



.footer{
    background-color: var(--azulF);
    text-align: center;
}

.footer i{
    color: var(--bodycolor);
    font-size: 19px;
    background-color: var(--bodycolor);
    padding: 20px;
    margin: 19px;
    border-radius: 10px;
}

footer p{
color: var(--white);
}

.footer a img{
    width: 23px;
}

.menu-icon{
    color: var(--bodycolor);
    z-index: 4;
}





/* pagina sobre */

.sobre .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sobre .sobre-texto{
    width: 50%;
    padding-right: 40px;
}

.sobre .sobre-texto p {
    margin: 18px;
    color: var(--white);
}

.sobre .sobre-image{
    width: 50%;
}

.sobre .sobre-image img{
    width: 100%;
    border-radius: 10px;
}

/* SERVICOS */

.servicos h3{
    text-align: center;
    color: var(--white);
}

.servicos .container > p{
     text-align: center;
     color: var(--white)
}

.servicos .container{
background-color: var(--eminencia);
}

.servicos .rows-cards {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
}

.servicos .row-card-item{
    background-color: var(--black);
    width: 350px;
    padding: 20px;
    border-radius: 14px;
    margin: 20px;
    transition: 0.3s;
}

.servicos .row-card-item:hover{
    background-color: var(--eminencia);
}

.servicos .row-card-item:hover p{
    color: var(--white);
}

.servicos .row-card-item p{
    color: var(--white);
}

.servicos .row-card-item img {
    background-color: var(--colorazul);
    border-radius: 14px;
    width: 70px;
    padding: 9px;
}

.servicos .row-card-item p.nome-servico{
    margin: 5px;
    transition: 0.3s;
}

.servicos .row-card-item p.descricao{
    transition: 0.3s;
}



/* DADOS */

.dados{background: var(--bodycolor); 
}

.dados .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.dados .dados-item{
    text-align: center;
    margin: 15px;
    color: var(--navbar);
}

.dados .dados-item img{
    background-color: var(--colorazul);
    border-radius: 14px;
    padding: 10px;
    margin-bottom: 15px;
    width: 80px;
}

.dados .dados-item p{
    font-size: 18px;
}

.dados .dados-item p strong{
    font-size: 28px;
}

/* pagina de contato */


.contato-info{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.contato-info .esquerdo-lado{
    width: 50%;
    padding: 30px;
    background-color: var(--navbar);
    border-radius: 14px;
    margin-right: 50px;
    height: fit-content;
}

.contato-info .esquerdo-lado div{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.contato-info .esquerdo-lado div i{
    font-size: 24px;
    margin-right: 20px;
    color: var(--bodycolor);
}

.contato-info .esquerdo-lado p {
    font-size: 17px;
    color: var(--bodycolor);
}

.contato-info .direito-lado{
 width: 50%;
}

.contato-info .direito-lado input{
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    height: 47px;
    padding: 15px;
    border-radius: 9px;
    transition: 0.3s;
    border: 1px solid #f1f1f1;
    color: var(--navbar);
    font-weight: lighter;
}

.contato-info .direito-lado input:focus,
.contato-info .direito-lado textarea:focus{
    border-color: var(--colorazul);
}

.contato-info .direito-lado textarea{
    border: 1px solid #f1f1f1;
    color: var(--navbar);
    border-radius: 9px;
    margin-bottom: 10px;
    padding: 15px;
    width: 100%;
    transition: 0.3s;
    resize: none;
}

.contato-info .direito-lado button{
    border: none;
}


#img-sobre{
    background-image: url('/imag/fundo\ sobre.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    filter: grayscale(80%);
}

.sobre a{
    border-radius: none;
}

.sobre .sobre-texto iframe{
    position:relative;
    left: 100%;
    justify-content: center;
    align-items: center;
   }
   

#img-sobre a{
    color: var(--navbar);
}

#img-sobre .btn{
    background-color: #fffdff;
    color: var(--navbar);
    padding: 15px 20px;
    cursor: pointer;
    border-radius: 3px;
    display: inline-block;
    transition: 0.1s ;
}

.btn:hover{
    background-color: var(--bodycolor);
    color: var(--navbar);
}

.btn.animate-btn{
    animation: animate-outline 1s ease-out infinite;
}

@keyframes animate-outline{
    from{
      outline: 0px solid #000000;
    }
    to{
      outline: 4px solid #fffeff;
    }
}

.h1-primario{
    background-color: var(--bodycolor);
}

.sobre-texto1{
background-color: var(--navbar);
opacity: 0.4;
}

.sobre .sobre-texto a{
    background-color:#000000;
   }



.headers{
        min-height:100vh;
 }

 header{
    background-color: var(--white);
 }







/* RESPONSIVIDADE */

@media (max-width: 830px){
   /* menu modile */
   .ul{
    position: fixed;
    top: 0;
    left: 0;
    background: var(--colorazul);
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    clip-path: circle(0% at 100% 0);
     transition: 0.7s;
   }

   .ul.open{
    clip-path: circle(141.3% at 100% 0);

   }
   .ul a {
    margin: 10px 0;
    font-size: 16px;

   }
   nav .menu-icon{
    display: block;
   }
   nav .close-icon{
    display: block;
    position: absolute;
    top: 46px;
    height: 28px;
   }

   /* Pagina HOME RESPONSIVA */

   .faca-mais .faca-mais-text{
     margin-top: 10px;   
     padding: 0 20px;
     order: 1;
    }

    .faca-mais .container{
        flex-direction: column;
    }

    .faca-mais .faca-mais-text h3{
        font-size: 48px;
    }

    .faca-mais .faca-mais-text,
    .faca-mais .faca-mais-img{
        width: 100%;
    }

    /* banner responsive */

    .banner .baner{
        padding: 0;
        margin: 80px;
    }

    .banner .baner h1{
        font-size: 80px;
    }

    .banner .baner p{
        font-size: 15px;
    }

    /* pagina sobre Responsive */

    .sobre .container{
        flex-direction: column-reverse;
    }

    .sobre  .sobre-image,
    .sobre .sobre-texto{
        width: 100%;
    }
    .sobre .sobre-texto {
        margin-top: 40px;
       
    }

    .sobre .sobre-texto iframe{
       left: -100%;
       }

    /* pagina CONTATO responsive */ 

    .contato .contato-info{
        flex-direction: column-reverse;
    }

    .contato-info .esquerdo-lado,
    .contato-info .direito-lado{
        width: 100%;
    }

    .contato-info .esquerdo-lado{
        margin-bottom: 30px;
    }

}

@media (max-width: 500px){
    .banner .baner h1{
        font-size: 50px;
    }

    .faca-mais .faca-mais-text h3{
        font-size: 40px;
    }
}